.InfosGeneral{
    display: flex;
    flex-direction: row;
}

.ListVideo_Container{
    display: flex;
    height: 50rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.InfoVideo_Container{
    display: flex;
}